<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style2.css' />
  </head>
  <body>
    <nav><ul class="right">
      <li>
      <% if (user) { %>
        <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
      <% } else { %>
        <a href="/auth/google"><i class="material-icons left"></i>Login with Google</a>
      <% } %>
      </li>
    </ul></nav>
    <h1><%= title %></h1>
    <p>Welcome to my Restaurant<%= title %></p>
    <img src='https://www.foodiesfeed.com/wp-content/uploads/2019/05/red-fruit-and-vegetables-on-a-white-background-3.jpg'>
  </body>
</html>
