* {
  box-sizing: border-box;
  font-family: "Lobster", cursive;
}
main {
  background-color: rgb(154, 143, 133);
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  justify-content: space-between;
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-gap: 20px;
  border: 0px solid whitesmoke;
}
.glyphicon-user{
  color: rgb(251, 251, 251);
}

nav{
  background: rgb(14, 53, 59);
  text-align: center;
  height:45px;
  width: 100%;
  color: rgb(248, 4, 4);
  padding: 20px;
  font-size: 20px;
  padding: 15px 32px;
} 
.nav-home{
  background: rgb(14, 53, 59);
  text-align: center;
  height:45px;
  width: 100%;
  color: rgb(248, 4, 4);
  font-size: 20px;
}
.card{
  border-radius: 2vmin;
  user-select: none;
  padding: 15px;
  border: 3px solid  rgb(241, 233, 233);
  text-anchor: middle;
  display: block;
}
.h4,
.reviews {
    color: #daa520
}
li{
  font-size: 20px;
  border: 1px solid whitesmoke;
  border-radius: 18px;
  color: rgb(246, 12, 12);
}
.card-title {
  background-color: whitesmoke;
  text-align: center;
  border-radius: 8px;
}
.card-text{
  background-color: whitesmoke;
  text-align: center;
  border-radius: 8px;
}
.card-body {
  background-color: whitesmoke;
  text-align: center;
  border-radius: 1ch;
  padding: 0px;
}
img{
  width: 310px;
  height: 250px;
}
.img-home{
  height: 700px;
  border-radius: 25px;
  background: url(paper.gif);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(border.png) 20 stretch;
  border-color: rgb(14, 53, 59);
}
.Welcome{
  text-align:center;
  color: rgb(8, 7, 7);
  text-shadow:  2px rgb(30, 30, 13);
  font-size: 30px;
}
.card-body-a {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(198, 193, 193);
  z-index: 1;
}
.card:hover {
  border: 1px solid #000;
  box-shadow: 3px 3px 30px rgb(166, 255, 144)
}
.card:hover .card-body-a {
  display: block;
}
.card-text-a {
  padding: 15px;
  text-align: center;
}
.card {
  position: relative;
  display: inline-block;
}