* {
  box-sizing: border-box;
  font-family: "Lobster", cursive;
}
body{
  background-color: rgb(154, 143, 133);
}
nav {
  background: rgb(14, 53, 59);
  text-align: center;
  height:45px;
  width: 100%;
  color: rgb(200, 41, 41);
  padding: 20px;
  font-size: 20px;
}
.form-btn{
  margin: 70px;
  display: flex;
  flex-flow: column nowrap;
  padding-left: 20em;
  padding-right: 20em;
  padding-bottom: 50px;
  border-radius: 3vmin;
  font-size: 12px;
  background: rgb(555, 555, 555);
  text-align: center;
  background-color:   whitesmoke;
  border: 15px solid whitesmoke;
}

.form-btn:hover{
  border: 1px solid #000;
  box-shadow: 3px 3px 30px rgb(166, 255, 144)
}
button, input{
  overflow: visible;
  padding: 5px;
  border-radius: 8px;
}
.button{
  background:  #337AB7;
  border-radius: 5px;
  color: black;
  font-size: 20px;
}
button, select{
text-transform: none;
padding: 5px;
border-radius: 8px;
color: gray;
}
h1{
  font-style: underline;
}






