@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

body {
    background-color: #dfecab;
    font-family: 'Calibri', sans-serif !important
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}
nav {
    background: rgb(14, 53, 59);
    text-align: center;
    height:45px;
    width: 100%;
    color: rgb(248, 7, 7);
    padding: 20px;
    font-size: 20px;
  }
  .main-Ctrl{
    color: rgb(110, 70, 85);
  }   
.final-list{
 background: #e3f2fd;
 font-size: 20px;
 text-align: center;
 margin-left: 150px;
 margin-right: 150px;
 border-radius: 10rem;
 padding: 15px;
}
.final-card {
text-align: center;
color: rgb(8, 7, 7);
text-shadow: 2px rgb(226, 226, 209);
text-shadow: 2px 2px rgb(49, 49, 24);
font-size: 30px;
}
.form-update{
text-align: center;
background-color: #e3f2fd;
margin-left: 150px;
margin-right: 150px;
border-radius: 10rem;
padding: 35px;
}
.form-review{
  margin: 20px;
  padding: 30px;
  margin-left: 150px;
  margin-right: 150px;
}