<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>Welcome Well Eat Resturant</title>
</head>
<body>
  <nav>
    <a href="/home">home</a>
    &nbsp; | &nbsp;
    <a href="/order/new">main page</a>
    &nbsp; | &nbsp;
    <a href="/order">All Orders</a>
  </nav>
  <main>
    <div class="table1">
      <ul>
        Family Order &nbsp; $50
        <a href="/orders/new">Order</a>
      </ul>
    </div>
    <div class="table2">
      <ul>
        Chiken &nbsp; $30:
        <a href="view">Order</a>'>
      </ul>
    </div> 
    <div class="table3">
      <ul>
          Pasta> &nbsp; $25
      </ul>
      <a href="/orders/new">Order</a>
    </div>
    <div class="table4">
      <ul>
        Pizza> &nbsp; $25
      </ul>
      <a href="/orders/new">Order</a>
    </div>

    <div class="table5">
      <ul>
        Salad> &nbsp; $20
      </ul>
      <a href="/orders/new">Order</a>
    </div>

    <div class="table6">
      <ul>
        Dessert> &nbsp; $10
      </ul>
      <a href="/orders/new">Order</a>
    </div>
    <div class="table7">
      <ul>
        Wine &nbsp; $40
      </ul>
      <a href="/orders/new">Order</a>
    </div>
  </main>
</body>
</html>
