<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style2.css' />
  <title>Welcome Resturant</title>
</head>
<body>
  <nav>
    <a href="/">home</a>
    &nbsp; | &nbsp;
    <a href="/foods">All Order</a>
    &nbsp; | &nbsp;
    <a href="/orders">Details Order</a>
  </nav>
<main class="form-group-a">
      <form class="form-group-b" action="/orders" id='add-review-form' method="POST">
        <div class="form-btn">
        <label>Add Order:</label>
          <select class="food"  class="form-control"   name="food">
            <option  value="chiken">CHICKEN</option>
            <option value="pasta">PASTA</option>
            <option value="pizza">PIZZA</option>
            <option value="dessert">SALMON</option>
            <option value="salad">SALAD</option>
            <option value="dessert">DESSERT</option>
            <option value="wine">WINE</option>
          </select> 
        </label><br>
        <label>Quantity:</label>
          <input type="number" name="quantity"  placeholder="How many order.." min="1" max="#5">
        
          <label>First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">

        <label>Tip: </label>
          <input type="number" name="tip" placeholder="$ Tip here.." min="5" max="#100">
        
          
        <input type="submit" value="Place Order">

        
     </div>
      </form>
    </main>
</body>

</html>