<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style4.css' />
</head>
<body>
      <div>
        <main>
        <h1 class='food'>Food</h1> 
          <h1 class='Price'>Price</h1>
          </main>
      </div>
      <div>
  <form id="add-review-form" method="POST"
    action="/orders/<%= order._id %>/reviews">
    <label>Review:</label>
    <textarea name="content"></textarea>
    <label>Rating:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input type="submit" value="Add Review">
  </form>
  </div>
</body>
</html>